@import url("https://fonts.googleapis.com/css2?family=Lekton");
$font-family: 'Lekton', sans-serif;

$font-color: rgb(228, 228, 228);
$border-color: rgb(231, 231, 231);
$background-color: rgb(50, 49, 49);
$button-color: rgb(60, 59, 59);

$header-width: 170px;
$header-padding: 10px;
$logo-size: 100px;

html, body, h1, h2, h3, h4, h5, h6, a {
    font-family: $font-family;
    color: $font-color;
}

// h1 {
//     font-size: 30vw;
// }

// h2 {
//     font-size: 20vw;
// }

// h3 {
//     font-size: 30vw;
// }

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: $background-color;
}

body {
    display: flex;
}

.header {
    display: flex;
    align-items: start;

    padding: $header-padding;
    box-sizing: border-box;

    .logo {
        width: $logo-size;
        height: $logo-size;
    }

    .title {
        margin: 5px auto;

        h1, h2 {
            margin: auto;
        }
    }
}

.content {
    flex: 1;
    padding: 0 10px;
}

.footer {
    margin: 10px 0;

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;

        justify-content: space-evenly;

        li {
            width: 100%;

            a {
                display: block;
                padding: 10px 0;

                text-align: center;
                text-decoration: none;
            }
        }
    }
}

.category {
    padding-bottom: 30px;

    a {
        text-decoration: none;
    }

    img {
        height: auto;
    }
}

.images {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 20px;

    padding-bottom: 10px;
}

.focused-image {
    visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;

    background-color: rgba(30, 30, 30, 0.80);
    
    > img {
        position:fixed;
        z-index:2000;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

#button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 5vw;
    border: none;
    outline: none;
    background-color: $button-color;
    color: $font-color;
    cursor: pointer;
    padding: 3px 15px;
    border-radius: 4px;

    :hover {
        background-color: #555;
    }
}
  
/* --- mobile style --- */
@media only screen and (max-width: 800px) {

    h1 {
        font-size: 7vw;
    }
    h2, a {
        font-size: 4vw;
    }

    body {
        flex-direction: column;
        overflow: auto;
    }

    .header {
        width: 100%;
        flex-direction: row;
    }

    .category {
        img {
            width: 90%;
        }
    }

    .images {
        > img {
            height: auto;
            width: 100%;
        }
    }
}
/* --- end mobile style --- */


/* --- desktop style --- */
@media only screen and (min-width: 800px) {
    
    h1 {
        font-size: 3vw;
    }
    h2, a {
        font-size: 2vw;
    }

    body {
        flex-direction: row;
        overflow: hidden;
    }

    .header {
        flex-direction: column;

        height: 100%;
        width: $header-width;

        border-right: 2px solid $border-color;
    }

    .content {
        overflow: auto;
    }

    .category {
        img {
            width: 80%;
        }
    }

    .images {
        > img {
            height: 300px;
            width: auto;

            cursor: pointer;
        }
    }

    .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        width: $header-width;
        box-sizing: border-box;
        padding: $header-padding;
    }

    .focused-image {
        visibility: visible;
    }
}
/* --- end desktop style --- */
