<nav class="footer">
    <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            {{ if .HasChildren }}
                <li>
                    <a href="#">{{ .Name }}</a>
                    <ul>
                        {{ range .Children }}
                            <li>
                                <a href="{{ .URL }}">{{ .Name }}</a>
                            </li>
                        {{ end }}
                    </ul>
                </li>
            {{ else }}
                <li>
                    <a href="{{ .URL }}">{{ .Name }}</a>
                </li>
            {{ end }}
        {{ end }}
    </ul>
</nav>